.loading {
  display: flex;
  gap: 8px;
  color: var(--neutral-grey-blue);
  align-items: center;
}

.loading > svg {
  width: 16px;
  height: 16px;
  animation: base-loading 1.2s linear infinite;
  color: inherit;
}

.loading > span {
  color: inherit;
  font-size: var(--field-small);
}

@keyframes base-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
